.sidebar-header {
    margin: -10px -20px 0;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 10.4pt;
    color: #fff;
    background-color: #0074d9;
}
.sidebar-pane {
    height: 100%;
    display: none;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: 9.4pt;
}

/*css for sidebar*/
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2000;
    border: none !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

/*Acco*/
.ac-container {
    max-width: 400px;
}

.ac-container label {
    /* height: 30px !important; */
    /* line-height: 21px !important; */
    /* font-size: 12px !important; */
    font-family: arial;
    padding: 0 20px;
    margin: 0;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    /* color: #777; */
    /* text-shadow: 1px 1px 1px rgba(255,255,255,0.8); */
    line-height: 33px;
    /* font-size: 19px; */
    /* background: #fff; */
    background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
    /* background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea)); */
    /* background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%); */
    background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
    background: linear-gradient(top,#fff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eaeaea',GradientType=0);
    /* box-shadow: 0 0 0 1px rgba(155,155,155,0.3), 1px 0 0 rgba(255,255,255,0.9) inset, 0 2px 2px rgba(0,0,0,0.1); */
    /* font-size: 12px; */
    /* height: 30px; */
    /*border-bottom: 2px solid beige;*/
}

.ac-container {
    width: 100%;
    margin: 10px auto 30px;
    text-align: left;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    /* /* background: #f1f2f3; */
    color: blue;
    /* text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
    height: 30px;
    line-height: 21px;
    font-size: 13px; */
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url('../images/arrow_down.png') no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url('../images/arrow_up.png');
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
    /* font-style: normal;
    color: #777;
    line-height: 23px;
    font-size: 10px; */
    padding: 10px;
    /* text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font: normal normal 12px 'Open Sans'; */
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    /* box-shadow: 0 0 0 1px rgba(155,155,155,0.3); */
}

.ac-container input:checked ~ article.ac-small {
    height: auto;
}

.ac-container input:checked ~ article.ac-medium {
    height: auto;
}

.ac-container input:checked ~ article.ac-large {
    height: auto;
}
/* style for sidebar content  */
.box {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 0;
    height: 100%;
    width: 33.3333%;
    color: rgb(106, 109, 116);
    outline: none;
    transition: all 0.2s ease 0s;
    padding: 0.5rem 1rem 0.5rem 1.25rem;
    border-bottom: 2px solid transparent;
    border-color: transparent;
    display: block;
}

.global_stat {
    display: flex;
    border-bottom: 2px solid;
    border-color: gainsboro;
}

.figures {
    font-size: 1.7rem;
}
.country_name {

    font-family: FiraGO, "IBM Plex Sans", system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 700;
}
.subtitle {
    font-family: FiraGO, "IBM Plex Sans", system-ui, sans-serif;
    font-size: 1rem;
    color: rgb(106, 109, 116);
}

.country_stat {
    background-color: transparent;
    padding: 0.75rem 1.25rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    border-style: solid;
    border-image: initial;
    border-color: rgb(225, 226, 227);
}
.main {
    padding: 0 !important;
    margin: 0 !important;
}
.country_stats {
    width: 100%;
}

p {
    margin: 0 !important;
}

.col-6 {
    float: left;
}

.info {
    text-align: right;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.list_countries {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: scroll;
    background-color: #fff;
    /* padding: 2rem !important; */
    height: 1000px;
}

.map {
    height: 100vh;
}

.legend {

    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
}

.communication {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin: 2%;
    height: 50%;
    overflow-y: scroll;
}
/* For Mobile */
@media screen and(max-width: 540px) {
    .communication {
        width: 50%;
    }
}

/* For Tablets */
@media screen and(min-width: 540px) and(max-width: 780px) {
    .communication {
        width: 50%;
    }
}

/* For Tablets */
@media screen and(min-width: 780) {
    .communication {
        width: 25%;
    }
}

.title {
    font-size: 2rem;
    line-height: 1.125;
    font-weight: 700;
    font-family: FiraGO, 'IBM Plex Sans', system-ui, sans-serif;
    margin-bottom: 1.25rem;
}

.row {
    
    margin-right: 0 !important;
    margin-left: 0 !important;
}