.box {
        display: flex;
        cursor: pointer;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        font-size: 1rem;
        margin-bottom: -2px;
        height: 100%;
        width: 33.3333%;
        color: rgb(106, 109, 116);
        outline: none;
        transition: all 0.2s ease 0s;
        padding: 0.5rem 1rem 0.5rem 1.25rem;
        border-bottom: 2px solid transparent;
        border-color: transparent;
        display: block;
        margin: 0;
}

.global_stat {
    display: flex;
    border-bottom: 2px solid;
    border-color: gainsboro;
}

.figures {
    font-size: 1.7rem;
}
.country_name {
    
    font-family: FiraGO, "IBM Plex Sans", system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 700;
}
.subtitle {
    font-family: FiraGO, "IBM Plex Sans", system-ui, sans-serif;
    font-size: 1rem;
    color: rgb(106, 109, 116);
}

.country_stat {
    background-color: transparent;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    border-style: solid;
    border-image: initial;
    border-color: rgb(225, 226, 227);
}
.main {
    padding: 0 !important;
    margin: 0 !important;
}
.country_stats {
    width: 100%;
}

p {
    margin: 0 !important;
}

.col-6 {
    float: left;
}

.info {
    text-align: right;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
.list_countries {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    overflow: scroll;
    background-color: #fff;
    /* padding: 2rem !important; */
    height: 1000px;
}

.map {
    height: 100vh;
}

.legend {
    
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}

.communication {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin: 2%;
    height: 50%;
    overflow-y: scroll;
    width: 25%;
}

.title {
    font-size:  2rem;
    line-height: 1.125;
    font-weight: 700;
    font-family: FiraGO,'IBM Plex Sans',system-ui,sans-serif;
    margin-bottom: 1.25rem;
}